*
{
	margin: 0;
	padding: 0;
}
body
{
	overflow-y: hidden;
	background: #ADD8E6;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#outerbackground
{
	position: fixed;
	left: 0;
	top: 0;
	border-radius: 30px;
	width: 98%;
	left: 1%;
	top: 1%;
	height: 98%;
	background: white;
	overflow: hidden;
}
#page
{
	background: white;
	opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#background
{
	height: 100%;
	width: 100%;
	background-image: url("cliffjumping.jpg");
	background-size: cover;
	background-attatchment: fixed;
}
#LukeWood
{
	cursor:default;
	color: white;
	font-weight: bolder;
	position: absolute;
	top: 25%;
	left: 50%;
	font-family: Rockwell;
	font-size:15vw;
}
#contact
{
	position: absolute;
	bottom: 0;
	z-index:4;
	width: 100%;
	font-family:Rockwell;
	background-color: rgba(255,255,255,.7);
}