@import "figures";
@import "code";

$max-content-width: 48rem;

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  width: 100%;
  max-width: $max-content-width;
  background-color: var(--background_color);
  border-left: solid 2px  var(--text_color);
  border-right: solid 2px  var(--text_color);
  padding: 1rem;

  @media screen and (max-width: $max-content-width) {
    border: none;
  }
}
