@import "figures";
@import "code";

$max-content-width: 48rem;

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  width: 100%;
  min-height: 100vh;
  max-width: $max-content-width;
  padding: 1rem;

  * {
    max-width: 100%;
  }

  code {
    font-size: .8rem;
    -webkit-text-size-adjust: none;
  }

  @media screen and (max-width: $max-content-width) {
    border: none;
  }
}
