.top-level-home-link {
  color: var(--primary_color);
  font-weight: 700;
  &:hover {
    color: var(--primary_color_dark);
  }
}

nav.menu {
  z-index: 10;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  flex-grow: 0;
  display: flex;
  padding: 1rem;
  align-items: stretch;
  vertical-align: middle;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background_color);
  border-bottom: solid 2px var(--text_color);

  a {
    font-size: 1.2rem;
    line-height: 100%;
    vertical-align: bottom;
    text-decoration: none;
  }

  * {
    margin-top: auto;
    margin-bottom: auto;
  }

  button {
    padding: 0;
  }
}
