a.material-icon.home-link {
  color: black;
  background-color: var(--primary_color);
  transition: background-color .5s;
  &:hover {
    color: black;
    background-color: var(--primary_color_dark);
  }

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav.menu {
  z-index: 10;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  flex-grow: 0;
  display: flex;
  padding: .5rem;
  align-items: stretch;
  vertical-align: middle;
  justify-content: space-between;
  width: 100%;
  background-color: lighten(#121212, 12%);

  a {
    font-size: 1.2rem;
    line-height: 100%;
    vertical-align: bottom;
    text-decoration: none;
  }

  * {
    margin-top: auto;
    margin-bottom: auto;
  }

  button {
    padding: 0;
  }
}
