@import "_font";

$background-color: #121212;

:root {
  --background_color: #121212;
  --primary_color: #82b1ff;
  --primary_color_light: #b6e3ff;
  --primary_color_dark: #4d82cb;
  --secondary_color: #ffff8d;
  --secondary_color_light: #ffffbf;
  --secondary_color_dark: #cacc5d;
  --text_color: #FFFFFF;
  --text_color_dark: #BBBBBB;
  --transition_duration: .3s;
}

body.preload {
  * {
    transition: none !important;
  }
}

@import "menu";
@import "material_icons";

* {
  box-sizing: border-box;
  -webkit-appearance: none;
}

html {
  z-index: -2;
  background-color: var(--background_color);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.bg-img {
  z-index: -1;
  pointer-events: none;
  touch-action: none;
  opacity: .085;
  background-image: url("/img/index/ballpark.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 {
  color: var(--primary_color);
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
}

p {
  color: var(--text_color);
  font-family: 'Cairo', sans-serif;
}

a {
  color: var(--secondary_color);
  font-family: 'Cairo', sans-serif;
  transition: color var(--transition_duration);
  &:hover {
    color: var(--secondary_color_dark);
  }
}

a.no-decoration {
  text-decoration: none;
}

a.text-color {
  color: var(--text_color);
  &:hover {
    color: var(--text_color_dark);
  }
}

.main-emphasis {
  opacity: .8;
}

.weight-700 {
  font-weight: 700;
}
