@import "../common/colors";
@import "../common/font";

body {
  background-color: var(--background_color);
}

h1 {
  color: var(--primary_color);
}

h2 {
  color: var(--secondary_color);
}

p {
  color: var(--text_color);
}

.home-container {
  display: flex;
}
