.contactme
{
	position: absolute;
	background: rgb(125,125,125);
	height: 95%;
	top: 2.5%;
	width: 95%;
	left: 2.5%;
	padding-bottom: 80px;
	outline: 2px solid white;
}
.contactme .textarea
{
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: 2px solid white;
	border-right: 2px solid white;

	width: 49%;
	height: 100%;
	left: .5%;
	top: 1%;
}
.socials
{
	position: absolute;
	bottom: 5px;
}
.contactme .textarea p
{
	color: white;
	font-family: "Rockwell" sans-serif;
	font-size: 22;
	padding-left: 2.5%;
}
.cantreadthis
{
	background-color: #fff;
	border-top: 2px solid black;
	width: 100%;
}
.cantreadthis a
{
	font-size: 32;
	text-decoration: none;
	color: blue;
}
.contactme h1
{
	font-family: "Rockwell" sans-serif;
	font-size: 32;
	font-weight: bolder;
	color: white;
}
.contactme li
{
	font-family: "Rockwell" sans-serif;
	font-size: 22;
	color:white;
}
.contactme .imgcontainer
{
	position: absolute;
	width: 49%;
	height: 49%;
	overflow: hidden;
}
.contactme img
{
	width: 100%;
	height: auto;
	position: absolute;
}
.contactme #img1
{
	top: 1%;
	right: 1%;
}
.contactme #img2
{
	top: 50.5%;
	right: 1%;
}