.contactme
{
	position: absolute;
	background: rgb(125,125,125);
	height: 95%;
	top: 2.5%;
	width: 95%;
	left: 2.5%;
	padding-bottom: 80px;
	outline: 2px solid white;
}
.contactme .textarea
{
	float: left;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 2px solid white;

	width: 49%;
	height: 100%;
	left: .5%;
	top: 1%;
}
.textarea li
{
	color: white;
	font-family: "Rockwell" sans-serif;
	font-size: 22;
}
.socials
{
	width: 100%;
	border-top: 2px solid white;
	position: absolute;
	bottom: 5px;
}
.contactme .textarea p
{
	color: white;
	font-family: "Rockwell" sans-serif;
	font-size: 22;
	padding-right: 2.5%;
	padding-left: 2.5%;
	text-align: justify
}
.cantreadthis
{
	background-color: #fff;
	border-top: 2px solid black;
	width: 100%;
}
.cantreadthis a
{
	font-size: 32;
	text-decoration: none;
	color: blue;
}
.contactme h1
{
	font-family: "Rockwell" sans-serif;
	font-size: 32;
	font-weight: bolder;
	color: white;
}
.contactme li
{
	font-family: "Rockwell" sans-serif;
	font-size: 22;
	color:white;
}
.contactme .imgcontainer
{
	display: inline;
	float: right;
	width: 50%;
	height: 100%;
	overflow: hidden;
	padding: 2px;
}
.contactme .imgcontainer img
{
	width: 100%;
	height: 50%;
	margin-top: 5px;
	float: right;
	vertical-align:middle
}
