menu
{
	margin: 0;
	padding: 10px;
	position: absolute;
	background: #888;
	width: auto;
	height: auto;
	right: 0;
	border: 4px white solid;
	padding-top: 90px;
}
menu a
{
	font-family: "Rockwell", sans-serif;
	font-weight: bold;
	font-size: 22;
	padding: 10px;
	margin: 0;
	color: white;
	cursor: pointer;
}
menu a:hover
{
	font-family: "Rockwell", sans-serif;
	font-weight: bold;
	font-size: 22;
	padding: 10px;
	margin: 0;
	color: black;
}
footer
{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
}