menu
{
	margin: 0;
	padding: 10px;
	position: absolute;
	width: auto;
	height: auto;
	right: 0;
	border: 4px white solid;
	padding-top: 90px;
		background-color: rgba(175,175,175,.7);

}
menu a
{
	font-family: "Rockwell", sans-serif;
	font-weight: bold;
	font-size: 32;
	padding: 10px;
	margin: 0;
	color: white;
	cursor: pointer;
}
menu a:hover
{
	color: black;
}
footer
{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10;
}
.contentSection
{
	position: absolute;
	bottom: 10%;
	width: auto;
	height: 80%;
	width: 60%;
	z-index: 10;
	max-height: 80vw !important;
	border: 4px white solid;
	background-color: rgba(175,175,175,.5);
	-webkit-transition:left 1s linear; /* Safari */
    transition:left  1s linear;
}
#resume
{
	max-height: auto !important;
}
.contentSection.shown
{
	left: 20%;
	z-index: 10;
	display: block;
}
.contentSection.offLeft
{
	left: -100%;
	z-index: 10;
}
.tab
{
	margin-left: 40px;
}