.pageholder
{
padding: 0px;
margin: 0px;
position: absolute;
z-index: -3;
top: 0;
height: auto;
overflow-y:hidden;
overflow-x:hidden;
width: 100% !important;
left: 0%;
background-color: #FF6600;
display: none;
}

.mainTitle
{
color: white;
position: absolute;
right: 0;
bottom: 10%;
width: 60%;
font-family: Impact, Charcoal, sans-serif;
font-style: bold;
font-size: 8vw;
}
.contentpic
{
	background-size: 100% auto;
	border: solid 4px #888;
	background-position: center;
}
.solid-section
{
	display: block;
	position: relative;
	width: 105%;
	min-height: 700px;
	max-height: 700px;
}
.solid-section .projectholder
{
	width: 70%;
	left: 15%;
}
.solid-section .project
{
	float: left;
	margin: 35px;
	width: 200px;
	height: 200px;
	min-width: 200px;
	min-height: 200px;
	background: #fff;
	border: 5px solid black;
	color: black;
	font-family: Impact, Charcoal, sans-serif;
    text-decoration: none;
	font-size: 22px;	
}
.solid-section .project:hover
{
	border: 5px solid gray;
	color: gray;

}
.image-section
{
	display: block;
	position: relative;
	width: 105%;
	min-height: 700px;
	max-height: 700px;
	background-position: center;
	background-repeat:  no-repeat;;
	background-size: 100% auto;
	background-color: black;
}
.aboutme
{
	position: absolute;
	width: 500px;
	height: 565px;
	left: 15%;
	background-color: #3388ee;
	border: 6px solid #888;
	border-radius: 15px;
}
.contactInfo
{
	width: 300px;
	height: 400px;
	position: absolute;
	right: 15%;
	background-color: #3388ee;
	border: 6px solid #888;
	border-radius: 15px;
}
.aboutme p
{
padding: 10px;
line-height: 1.1;
color: white;
font-family: Impact, Charcoal, sans-serif;
font-size: 28;
}

h2
{
color: white;
font-family: Impact, Charcoal, sans-serif;
font-style: bold;
font-size: 32;
}
h3
{
color: white;
font-family: Impact, Charcoal, sans-serif;
font-style: bold;
margin: 0px;
padding: 0px;
font-size: 100px;	
}
ul
{
color: white;
font-family: Impact, Charcoal, sans-serif;
font-size: 20;
}