@import url('https://fonts.googleapis.com/css?family=Passion+One:700');
	.noselect
	{
	     -webkit-user-select: none;  /* Chrome all / Safari all */
	     -moz-user-select: none;     /* Firefox all */
	     -ms-user-select: none;      /* IE 10+ */
	      user-select: none;          /* Likely future */             
	}
	*
	{
		overflow:hidden;
		margin:0;
		padding:0;
	}
	html { 
	  background: url(img/background.jpg) no-repeat center center fixed; 
	  background-attachment:fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
	#trademark
	{
		z-index:11;
		position:fixed;
		padding:2px;
		border-top:solid white 2px;
		width:100%;
		background-color:rgba(180,180,180,.8);
		font-size:20;
		font-family:"Rockwell",sans-serif;
		bottom:0;
	}
	#top
	{
		background:rgba(180,180,180,.7);
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:58px;
	}
	#buttoncontainer
	{
		width:400px;
		position:absolute;
		top:0;
		left:0;
		z-index:10;
	}
	#buttoncontainer p
	{
			position:absolute;
			left:80px;
			font-family:'Source Code Pro', sans-serif;
			font-size:40px;
			font-weight:200;
			color: black;
			display:inline;
	}
	#menuButton
	{
	margin:7px;
	width:40px;
	height:40px;
	}
	#cover
	{	
		border-bottom:solid white 4px;
		background: url(img/background.jpg) no-repeat center center fixed; 
		background-attachment:fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		z-index:8;
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		display:none;
	}
	#menu
	{
	z-index:9;
	position:absolute;
	top:0;
	left:0;
	padding-top:54px;
	border-right:solid white 2px;
	display:none;
	background-color:rgba(180,180,180,.6);
	border-bottom:solid white 2px;
	width:400px;
	height:100%;
	}
	
