#skills
{
	overflow: hidden;
	vertical-align: top;
	background-color: rgba(64, 164, 223,.75);
}
.skill
{
	overflow: hidden;
	    -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
	position: absolute;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: center;
	margin: none;
	padding: none;
}
.skill p
{
	margin: none;
	padding: none;
	display: none;
	background: #000;
	width: 80%;
	height: 80%;
	font-family: "Rockwell" sans-serif;
	font-size: 26;
	color: white;
}
.lang
{
	font-size: 30;
}
#arduino
{

	width: 150px;
	height: 150px;
	border: solid 2px black;
	background-image: url("arduino.png");
	background-size: 80% auto;
	background-color: #fff;
}
#css
{
	width: 125px;
	height: 125px;
	border: solid 2px black;
	background-image: url("css.png");
	background-size: 80% auto;
	background-color: #fff;
}
#html5
{
	width: 200px;
	height: 200px;
	border: solid 2px black;
	background-image: url("html5.png");
	background-size: 80% auto;
	background-color: #fff;
}
#javascript
{
		width: 200px;
	height: 200px;
	border: solid 2px black;
	background-image: url("javascript.jpg");
	background-size: 100% auto;
	background-color: #fff;
}
#Java
{

	width: 300px;
	height: 300px;
	border: solid 2px black;
	background-image: url("java.png");
	background-size: 80% auto;
	background-color: #fff;
}
.skill:hover p
{
	display: block;
}
#cpp
{
	border: 2px solid black;
	background-image: url("C++.png");
	width: 200px;
	height: 200px;
	background-color: #fe1;
}