.skill
{
	position: absolute;
	border-radius: 50%;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	margin: none;
	padding: none;
}
.skill p
{
	margin: none;
	padding: none;
	display: none;
	background: #888;
	width: 80%;
	height: 80%;
	font-family: "Rockwell" sans-serif;
	font-size: 32;
	color: white;
}
.lang
{
	font-size: 40;
}
#Java
{
	top: 0px;
	left: 0px;
	width: 300px;
	height: 300px;
	border: solid 2px black;
	background-image: url("java.png");
	background-size: 80% auto;
	background-color: #fff;
}
.skill:hover p
{
	display: block;
}
#cpp
{
	width: 200px;
	height: 200px;
	top: 100px;
	left: 500px;
	background-color: #fe1;
}