@import "figures";
@import "code";
@import "blockquote";
@import "keypoint";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

$max-content-width: 48rem;

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h6 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

h1 {
    font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.1rem;
}


.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content {
  line-height: normal;
  width: 100%;
  min-height: 100vh;
  max-width: $max-content-width;
  padding: 1rem;

  * {
    max-width: 100%;
  }

  code {
    font-family: 'Roboto Mono', monospace;
    -webkit-text-size-adjust: none;
  }

  @media screen and (max-width: $max-content-width) {
    border: none;
  }

}

pre {
  background-color:#272822;
  color: white;
  padding: 0.25rem;
  line-height: normal;
  overflow: scroll;
}

pre {
  code {
    width: 100%;
    display: inline-block;
    line-height: normal;
  }
}

.output {
  width: 100%;
  border-top: solid white 1.5px;
  background-color: #272822;
  max-height: 250px;
  display: inline-block;
  font-size: .8rem;

  div {
    padding: 0;
    display: inline-block;
  }
  pre {
    padding: 0;
    display: inline-block;
  }
}


ul, li {
  padding: .25rem;
  list-style: circle;
  list-style-position: inside;
}
