.row.home-link-container {
  // Social icons mess up spacing.
  padding-top: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a.home-link {
  font-size: 1.2rem;
  color: var(--primary_color);
  text-decoration: none;
  margin: 0.5rem;
  margin-left: .5rem;
  margin-right: .5rem;
  &:hover {
    color: var(--primary_color_dark);
  }
}

.home-link-container {
  @media screen and (max-width: 600px) and (orientation: portrait) {
    flex-direction: column;
  }
}
