<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="bulletz.io is a multiple 2d shooter featuring your favorite memes">
    <meta name="author" content="Luke Wood">

    <meta name="theme-color" content="#000000">
    <link rel="apple-touch-icon" href="/icons/favicon.png">
    <link rel="apple-touch-startup-image" href="/icons/favicon.png">
    <link rel="shortcut icon" href="/icons/favicon.png" >
    <title>No Connection</title>

    {{ partial "stylesheet.html" "offline"}}
  </head>

  <body>
    <center>
    <h1 class="primary-color">You're Offline</h1>
    <img class="secondary-border" src="/images/SadDoge.jpg"></img>
    <h1 class="primary-color">Woof</h1>
  </center>
  </body>
</html>
