{{ define "extra-header" }}
  {{ partial "stylesheet.html" "projects" }}
{{ end }}
{{ define "main" }}
<div class="projects-grid-wrapper">
  <main class="projects-grid">
    {{ range .Data.Pages }}
      <div class="mdc-card">
        {{ if isset .Params "thumbnail" }}
          <center><img class="thumbnail" src={{.Params.Thumbnail}} alt={{.Params.Title}}/></center>
        {{end}}
        <h3 class="project-title">{{.Title}}</h3>
        <div class="project-description">{{.Params.Description | markdownify}}</div>
        <div style="flex-grow: 1;"></div>
        <div class="actions-container">
          <div class="text-actions">
          </div>
          <div class="icon-actions">
          {{if isset .Params "twitter"}}{{.Params.Twitter}}{{end}}
          {{if isset .Params "link"}}<a class="visit text-color no-decoration material-icon" target="_blank" href="{{.Params.Link}}">launch</a>{{end}}
          </div>
        </div>
      </div>
    {{ end }}

  </main>
</div>
{{ end }}
