.navbar
{
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0px;
	margin: 0px;
	width: 100%;
	background: rgba(200,200,200,.5);
	height: 60px;
	display: inline;
}
.navbar a
{
	color: white;
	font-family: Rockwell, Sans-serif, serif;
	font-weight: bold;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 50px;
	cursor: pointer;
}
.navbar a:hover
{
	color:gray;
}