/* Gist Embed - Dark Theme Styling - Thanks to MattD */

/* Body */
.gist-data tbody { background-color: Black; }

/* Line Numbers */
.gist-data tbody td:nth-of-type(1) {
  color: #2B91AF !important;
}

/* Code */
.gist-data tbody td:nth-of-type(2){
  color: #FFFFFF !important;
}

/* Comments */
.pl-c
{
  color: #57A64A !important;
}

/* Function */
.pl-k, tbody tr:first-child .blob-code, tbody tr:last-child .blob-code
{
  color: #569CD6 !important;
}

/* Function Name */
.pl-en
{
  color: #FFFFFF !important;
}

/* Function Method */
.pl-c1
{
  color: #FFFFFF !important;
}
/* "'s around Strings */
.pl-pds
{
  color: #D69D85 !important;
}

.pl-smi {
  color: #57A64A !important;
}

/* Strings */
.pl-s
{
  color: #D69D85 !important;
}

.gist-meta {
  color:  #FFFFFF !important;
  background-color: black !important;
}

.gist a {
  color:  #FFFFFF !important;
  background-color: black !important;
}

.gist a:hover {
  color:  #FFFFFF !important;
  background-color: black !important;
}
