<!DOCTYPE html>
<html lang="en">
  <head>
    {{block "base-header" .}}
    {{ partial "head.html" .}}
    {{ end }}

    {{ partial "stylesheet.html" "base" }}

    {{ block "extra-header" . }}
    {{ end }}
  </head>
  <body class="preload">
    {{ block "bg-img" . }}
    <div class="bg-img"></div>
    {{ end }}
    {{ block "menu" . }}
      {{ partial "menu.html" .}}
    {{ end }}
    {{ block "main" . }}
    {{ end }}
    <script>window.addEventListener('load', () => document.body.classList.remove("preload"))</script>
  </body>
</html>
