{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
      <span class="base05">L</span><span class="base08">u</span><span class="base09">k</span><span class="base0a">e</span> <span class="base0b">W</span><span class="base0c">o</span><span class="base0d">o</span><span class="base05">d</span>
    </h1>

    <div class="hero-logo">
          <img src="{{ $baseurl }}img/base16-eighties.svg">
      </div>

      <div style="text-align: center;">
            Machine Learning, Software Engineering, and Data Visualization blog.
        </div>
