{{ define "extra-header" }}
  {{ partial "stylesheet.html" "index" }}
{{ end }}
{{ define "main" }}
<div class="bg-img"></div>
<main class="vertical-center">
  <div class="home-container">
    <section class="row">
      <h1 class="title">Luke Wood</h1>
    </section>
    <section class="row">
      <a class="option" href="/posts">Blog</a>
      <a class="option" href="/snippets">Snippets</a>
      <a class="option" href="/projects">Projects</a>
      <a class="option" href="/photos">Photos</a>
    </section>
  </div>
</main>
{{ end }}
