:root {
  --background_color: #121212;

  --primary_color: #4FC3F7;
  --primary_variant: #039BE5;
  --secondary_color: #80CBC4;
  --secondary_variant: #26A69A;

  --text_color: #FFFFFF;
}

.primary-color {
  color: var(--primary_color);
}
.secondary-color {
  color: var(--secondary_color);
}
.secondary-border {
  border: solid var(--secondary_color) 4px;
}
.secondary-variant {
  color: var(--secondary_variant);
}
