
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

#privacy-policy {
  max-width: 400px;
  text-align: left;
}

h2 {
    color: var(--secondary_color);
}
